# Aula5 - Exercícios Extra - Python e Pandas

### Onde buscar informações sobre as funções do Pandas
[https://pandas.pydata.org/docs/](https://pandas.pydata.org/docs/)

In [ ]:
# Importe a biblioteca pandas e numpy
import pandas as pd
import numpy as np

### 5.5 Escreva uma função para mudar o conteúdo de uma coluna de um dataframe de valores do tipo string ('yes' ou 'no') para uma coluna do tipo booleano parametrizando no nome da coluna a ser alterada.
#### Exemplo: Considere o dataframe a seguir
|    | name      |   score | qualify   |
|:---|:----------|--------:|:----------|
| a  | Jose |    12.5 | yes       |
| b  | Maria      |     9   | no        |
| c  | Joao |    16.5 | yes       |

#### Resultado Esperado:
|    | name      |   score | qualify   |
|:---|:----------|--------:|:----------|
| a  | Jose |    12.5 | True      |
| b  | Maria      |     9   | False     |
| c  | Joao |    16.5 | True      |


#### Dica: use a função Series.map

In [ ]:
def change_yes_no(df, col):
    """altere o data frame na coluna col substituindo 'yes' por True e 'no' por False
    """
    ### BEGIN SOLUTION
    df[col] = df[col].map({'yes': True, 'no': False})
    return df
    ### END SOLUTION

In [ ]:
## Faça seus testes aqui
exam_data  = {'name': ['Jose', 'Maria', 'Joao', 'Pedro', 'Emilia',
                       'Marcos', 'Mateus', 'Laura', 'Carlos', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
exam_data2 = {'name': ['Jose', 'Maria', 'Joao', 'Pedro', 'Emilia',
                       'Marcos', 'Mateus', 'Laura', 'Carlos', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'qualify': [True, False, True, False, False, True, True, False, False, True]}
df = pd.DataFrame(exam_data, index=labels) 

change_yes_no(df, 'qualify')
# Resultado esperado:
#      name  score  qualify
# a    Jose   12.5     True
# b   Maria    9.0    False
# c    Joao   16.5     True
# d   Pedro    NaN    False
# e  Emilia    9.0    False
# f  Marcos   20.0     True
# g  Mateus   14.5     True
# h   Laura    NaN    False
# i  Carlos    8.0    False
# j   Jonas   19.0     True

In [ ]:
# Validação
exam_data  = {'name': ['Jose', 'Maria', 'Joao', 'Pedro', 'Emilia',
                       'Marcos', 'Mateus', 'Laura', 'Carlos', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
exam_data2 = {'name': ['Jose', 'Maria', 'Joao', 'Pedro', 'Emilia',
                       'Marcos', 'Mateus', 'Laura', 'Carlos', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'qualify': [True, False, True, False, False, True, True, False, False, True]}
df = pd.DataFrame(exam_data, index=labels) 
df2 = pd.DataFrame(exam_data2, index=labels) 

entradas = [[df, 'qualify']]
saidas = [True]
validate(change_yes_no, entradas, lambda x: x.equals(df2), saidas, "5.5", True)

### 5.6 Escreva uma função para ordenar um DataFrame por colunas (Ex.: [col1, col2,...,colK]), de forma descendente, e retornar as top N linhas do DataFrame ordenado 
#### Use o dataset Diamonds (https://www.kaggle.com/shivam2503/diamonds) 
#### Dica 1: Use a função sort_values do DataFrame. Esta função possui os parâmetros inplace e ascending.

#### O código a seguir faz o download deste dataset na forma de um dataframe.

In [ ]:
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
diamonds

In [ ]:
def topN_sorted(df, cols, n):
    """retorne as top n linhas ordenadas por cols
    """
    ### BEGIN SOLUTION
    return df.sort_values(cols, inplace=False, ascending=False)[:n]
    ### END SOLUTION

In [ ]:
## Faça seus testes aqui
df = pd.DataFrame({'carat':[2.29, 2.0, 1.51],'cut':['Premium', 'Very Good', 'Ideal'],
                   'color':['I', 'G', 'G'],'clarity':['VS2', 'SI1', 'IF'],
                   'depth':[60.8, 63.5, 61.7],'table':[60.0, 56.0, 55.0],
                   'price':[18823, 18818, 18806],'x':[8.5, 7.9, 7.37],
                   'y':[8.47, 7.97, 7.41],'z':[5.16, 5.04, 4.56]},
                 index=[27749, 27748, 27747])

topN_sorted(diamonds,['price', 'clarity'], 3)

# Resultado esperado:
#        carat        cut color clarity  depth  table  price     x     y     z
# 27749   2.29    Premium     I     VS2   60.8   60.0  18823  8.50  8.47  5.16
# 27748   2.00  Very Good     G     SI1   63.5   56.0  18818  7.90  7.97  5.04
# 27747   1.51      Ideal     G      IF   61.7   55.0  18806  7.37  7.41  4.56

In [ ]:
# Validação
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')

df = pd.DataFrame({'carat':[2.29, 2.0, 1.51],'cut':['Premium', 'Very Good', 'Ideal'],
                   'color':['I', 'G', 'G'],'clarity':['VS2', 'SI1', 'IF'],
                   'depth':[60.8, 63.5, 61.7],'table':[60.0, 56.0, 55.0],
                   'price':[18823, 18818, 18806],'x':[8.5, 7.9, 7.37],
                   'y':[8.47, 7.97, 7.41],'z':[5.16, 5.04, 4.56]},
                 index=[27749, 27748, 27747])

entradas = [[diamonds,['price', 'clarity'], 3]]
saidas = [True]
validate(topN_sorted, entradas, lambda x: x.equals(df), saidas, "5.6", True)

### 5.7 Considerando o dataset Diamonds, escreva uma função para retornar as informações dos diamantes que atendam a especificação x > N e y > N e Z > N
#### Use o dataset Diamonds (https://www.kaggle.com/shivam2503/diamonds) 
#### Dica 1: Use o operador & (AND) para realizar a conjunção lógica (p ^ q). Use a sintaxe com colchete e parênteses df[(S1) & (S2) & (S3)]

#### O código a seguir faz o download deste dataset

In [ ]:
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
diamonds

In [ ]:
def filter_xyz(df, n):
    """retorne as linhas que atendam a especificação x > n e y > n e Z > n
    """
    ### BEGIN SOLUTION
    return df[(df['x'] > n) & (df['y'] > n) & (df['z'] > n)]
    ### END SOLUTION

In [ ]:
## Faça seus testes aqui
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
test_data = {'carat': {24067: 2.0}, 'cut': {24067: 'Premium'}, 'color': {24067: 'H'}, 'clarity': {24067: 'SI2'},
 'depth': {24067: 58.9}, 'table': {24067: 57.0}, 'price': {24067: 12210}, 'x': {24067: 8.09}, 'y': {24067: 58.9},
 'z': {24067: 8.06}}

filter_xyz(diamonds, 7)
# Resultado esperado:
#        carat      cut color clarity  depth  table  price     x     y     z
# 24067    2.0  Premium     H     SI2   58.9   57.0  12210  8.09  58.9  8.06

In [ ]:
# Validação
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
test_data = {'carat': {24067: 2.0}, 'cut': {24067: 'Premium'}, 'color': {24067: 'H'}, 'clarity': {24067: 'SI2'},
 'depth': {24067: 58.9}, 'table': {24067: 57.0}, 'price': {24067: 12210}, 'x': {24067: 8.09}, 'y': {24067: 58.9},
 'z': {24067: 8.06}}

entradas = [[diamonds, 7]]
saidas = [test_data]
validate(filter_xyz, entradas, lambda x: x.to_dict(), saidas, "5.7", True)

### 5.8 Escreva uma função para ordenar uma lista de dicionários usando uma função Lambda. A função criada deve receber como argumento a chave do dicionário que será usada na ordenação da lista.

In [ ]:
# Dica: use a função sorted. Use o argumento key da função sorted.
def sort_dict_list(l, chave):
    """retorne a lista ordenada
    """
    ### BEGIN SOLUTION
    return sorted(l, key = lambda x: x[chave])
    ### END SOLUTION

In [ ]:
## Faça seus testes aqui
data = [{'nome': ['Pedro'], 'classe': ['V'], 'disciplina': ['portugues', 'matematica', 'ciencia']},
        {'nome': ['Jose'], 'classe': ['V'], 'disciplina': ['portugues', 'matematica', 'ciencia']},
       {'nome': ['Maria'], 'classe': ['V'], 'disciplina': ['portugues', 'matematica', 'ciencia']}]

sort_dict_list(data, 'nome') 
# Resultado esperado:
# [{'nome': ['Jose'],
#   'classe': ['V'],
#   'disciplina': ['portugues', 'matematica', 'ciencia']},
#  {'nome': ['Maria'],
#   'classe': ['V'],
#   'disciplina': ['portugues', 'matematica', 'ciencia']},
#  {'nome': ['Pedro'],
#   'classe': ['V'],
#   'disciplina': ['portugues', 'matematica', 'ciencia']}]

In [ ]:
# Validação
data = [{'nome': ['Pedro'], 'classe': ['V'], 'disciplina': ['portugues', 'matematica', 'ciencia']},
        {'nome': ['Jose'], 'classe': ['V'], 'disciplina': ['portugues', 'matematica', 'ciencia']},
       {'nome': ['Maria'], 'classe': ['V'], 'disciplina': ['portugues', 'matematica', 'ciencia']}]

data_sorted = [{'nome': ['Jose'], 'classe': ['V'], 'disciplina': ['portugues', 'matematica', 'ciencia']},
        {'nome': ['Maria'], 'classe': ['V'], 'disciplina': ['portugues', 'matematica', 'ciencia']},
       {'nome': ['Pedro'], 'classe': ['V'], 'disciplina': ['portugues', 'matematica', 'ciencia']}]

entradas = [[data, 'nome']]
saidas = [data_sorted]
validate(sort_dict_list, entradas, lambda x: x, saidas, "5.8", True)

### 5.9 Escreva uma função para criar uma nova coluna chamada 'segundo' que tenha o segundo maior valor de cada linha de df.
#### Dica 1: Use a função apply do Dataframe aplicando uma função lambda. E use a função sorted dentro da função lambda. Perceba que você precisa converter o argumento da função lambda para list antes de aplicar o método sorted.
#### Dica 2: Aplique a função lambda no eixo 1.

In [ ]:
def segundo_maior(df):
    """retorne o dataframe df com uma nova coluna 'segundo' que tenha o segundo maior valor de cada linha de df
    """
    ### BEGIN SOLUTION
    df["segundo"] = df.apply(lambda x: sorted(list(x))[-2], axis = 1)
    return df
    ### END SOLUTION

In [ ]:
## Faça seus testes aqui
data = {'d1': [20, 36, 25,  4,  1, 20, 17, 47,  2, 40],
        'd2': [33, 25, 48, 39, 49, 37, 45, 36, 37, 31],
        'd3': [19, 47,  9, 27, 48, 26, 24, 21,  1,  2]}
df = pd.DataFrame(data)
segundo_maior(df)

# Resultado esperado: 
# 0  20  33  19       20
# 1  36  25  47       36
# 2  25  48   9       25
# 3   4  39  27       27
# 4   1  49  48       48
# 5  20  37  26       26
# 6  17  45  24       24
# 7  47  36  21       36
# 8   2  37   1        2
# 9  40  31   2       31

In [ ]:
# Validação
data = {'d1': [20, 36, 25,  4,  1, 20, 17, 47,  2, 40],
        'd2': [33, 25, 48, 39, 49, 37, 45, 36, 37, 31],
        'd3': [19, 47,  9, 27, 48, 26, 24, 21,  1,  2]}
df = pd.DataFrame(data)

entradas = [[df]]
saidas = [[20, 36, 25, 27, 48, 26, 24, 36, 2, 31]]
validate(segundo_maior, entradas, lambda x: list(x['segundo']), saidas, "5.9", True)