# Introdução - Explicações sobre a sintaxe da linguagem Python

### Dois pontos sinaliza o início de uma sentença composta
#### O conteúdo das sentenças compostas é aninhado com espaços/tabs, sem chaves

In [ ]:
###### Instalação de bibliotecas #####
# Use o seguinte comando: !pip install <nome_biblioteca>
# Exemplo: !pip install pandas

In [ ]:
# 1) Criar uma sentença composta (if else)
# 2) Mostrar aninhamento com tabulação
# 3) ; é opcional
# 4) imprimir valores dentro do if else como feedback
x = 2 # Atribuição com o sinal = (igual). Comparação com o sinal ==
if x > 0:
      # adiciona 1 a x
      x = x + 1;  # Ponto e virgula para finalizar uma sentença é opcional
      print(x)
      print('x maior que zero')
else:
      print('x menor ou igual a zero')

### Laços (loops) do tipo for
#### Uma maneira de iterar sobre uma coleção. Usa-se o keyword *in* para referenciar a coleção.

In [ ]:
# 1) Criar uma sequencia de números inteiros contendo o numero 5 em alguma posição
# 2) Fazer um laço para ler os valores de forma sequencial e somá-los até encontrar 
#     o número 5. Não incluir o número 5 na soma.
# 3) Imprimir o valor da soma

# val foi um termo escolhido pelo programador

sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for val in sequence:
    if val == 5:
        break  # Interrompe um laço/loop/iteração
    total_until_5 += val
    print(total_until_5)
print(total_until_5)

#### Usando a função range

In [ ]:
range(3)

In [ ]:
list(range(3))

In [ ]:
for val in range(3):
    print(f"{val*val}")

# Lista em Python

### Lista é uma sequência de tamanho variável e conteúdo mutável (alterável)
#### Assim como as tuplas, a lista pode conter objetos de vários tipos. Define-se uma lista com colchetes [ ]
#### Use append para inserir elementos, pop para remover elementos pelo índice

In [ ]:
# 1) Criar uma lista com elementos de diferentes tipos. Exemplo: [2, 4, 0, None]
# 2) Adicionar um elemento com o método append
# 3) Remover e recuperar o elemento de índice 1
# 4) Remover o elemento de valor 0

al = [2, 4, 0, None]
print(al)
al.append(9)
print(al)
al.pop(1) # Remover pelo índice
print(al)
# Use remove para remover pelo valor
al.remove(0)
print(al)

## Função Lambda

### Comparar a função lambda com uma função normal

In [ ]:
# Considere as funções abaixo
def exemplo(x):
    return x * 2

def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
print(apply_to_list(ints, exemplo))

# Crie uma função lambda que faz o mesmo que a função exemplo, e aplique a lista ints
print(apply_to_list(ints, lambda x: x * 2))

### Criar uma função lambda para ordenar uma lista de strings
#### pelo tamanho dos seus elementos, do menor para o maior

In [ ]:
#Considere a lista de strings abaixo
strings = ['card', 'bar', 'aaa2222a', 'fo', 'abasb']
# Ordene esta lista pelo tamanho das strings usando uma função lambda
strings.sort(key=lambda x: len(x))
print(strings)

## Biblioteca Datetime do Python

In [ ]:
from datetime import datetime # Esta biblioteca python realiza diversas operações com datas
# Crie um objeto datetime a partir da data '18/09/19 01:55:19' usando o método strptime
datetime.strptime('18/09/19 01:55:19', '%d/%m/%y %H:%M:%S')

In [ ]:
# Crie novamente o mesmo objeto datetime criado acima, desta vez guardando-o numa variavel d
d = datetime.strptime('18/09/19 01:55:19', '%d/%m/%y %H:%M:%S')
# Converta o datetime guardado em d para um string ANO-MÊS-DIA
d.strftime('%Y-%m-%d')

In [ ]:
# Imprima o ano armazenado na variável datetime d
print(d.year)
# Imprima o mês armazenado na variável datetime d
print(d.month)

## Pandas

### DataFrame

In [3]:
# Importar a biblioteca pandas
import pandas as pd # pd é um apelido prático e curto
import numpy as np
# se a biblioteca não estiver instalada use o seguinte comando para instalar: !pip install pandas

In [4]:
# Crie um data frame a partir dos dados do seguinte dicionário, chame-o de frame
data = {'state': ['DF', 'DF', 'DF', 'SP', 'SP', 'SP'],
'year': [2000, 2001, 2002, 2001, 2002, 2003],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
df = pd.DataFrame(data)
df

  state  year  pop
0    DF  2000  1.5
1    DF  2001  1.7
2    DF  2002  3.6
3    SP  2001  2.4
4    SP  2002  2.9
5    SP  2003  3.2

### Mostre as primeiras linhas de um DataFrame

In [5]:
# Acesse as primeiras linhas do dataframe
df.head()

  state  year  pop
0    DF  2000  1.5
1    DF  2001  1.7
2    DF  2002  3.6
3    SP  2001  2.4
4    SP  2002  2.9

### Transformar o índice em colunas

In [6]:
# Acesse as primeiras linhas do dataframe
df.reset_index()

   index state  year  pop
0      0    DF  2000  1.5
1      1    DF  2001  1.7
2      2    DF  2002  3.6
3      3    SP  2001  2.4
4      4    SP  2002  2.9
5      5    SP  2003  3.2

### Função apply
#### Aplica uma função às linhas ou às colunas de um DataFrame

In [7]:
# Considere o dataframe abaixo
data = [[ 0.52209467, -1.40218234, -1.47417229],
 [-0.45729662, -1.63163384, -0.63209908],
 [ 0.84529432, -0.11980979,  1.74099271],
 [ 1.05199626, -1.10912705, -1.87680396]]
df = pd.DataFrame(data, columns=list('bde'),
                        index=['SP', 'DF', 'RJ', 'MG'])
df.head()

           b         d         e
SP  0.522095 -1.402182 -1.474172
DF -0.457297 -1.631634 -0.632099
RJ  0.845294 -0.119810  1.740993
MG  1.051996 -1.109127 -1.876804

In [8]:
# Crie uma função lambda para calcular o valor máximo de uma Serie e multiplica-lo por 2, 
#   e aplique-a ao dataframe frame, fazendo o cálculo no eixo das linhas
f = lambda x: x.max()*2
df.apply(f, axis='rows')

b    2.103993
d   -0.239620
e    3.481985
dtype: float64

In [ ]:
# aplique afunção lambda ao dataframe frame, fazendo o cálculo no eixo das colunas
df.apply(f, axis='columns')

In [ ]:
df.apply(f)

In [ ]:
? df.apply

### merge (fundir/juntar)
#### A chave de junção (identificador único) foi inferida a partir do contexto (procurando nas colunas)
#### Também pode ser especificada com o argumento on (Ex.: on='key')

In [ ]:
# Considere os seguintes DataFrames
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})
df2 = pd.DataFrame({'key': ['a', 'b', 'd'], 'data2': range(3)})

In [ ]:
# Mostre o dataframe df1
df1

In [ ]:
# Mostre o dataframe df2
df2

In [ ]:
# Faça o merge dos dois dataframes usando como chave de junção a coluna 'key'
# O parametro on neste caso é redundante. Funcionaria sem ele.
# Por que chamamos esse tipo de merge/join de inner ? R.: Porque ele considera apenas a 
#     intersecção dos dois conjuntos de chaves.
# O argumento how='inner' é o padrão.
df1.merge(right=df2, on='key')

In [ ]:
# Faça também o merge com o argumento how='outer'
pd.merge(df1, df2, how='outer')

### Reshaping / Pivoting (Pivotar)

In [ ]:
# Considere o seguinte DataFrame
table = {
    'Aluno': ['AlunoA', 'AlunoA', 'AlunoA', 'AlunoA', 'AlunoB', 'AlunoB', 'AlunoB', 'AlunoB'],
    'Disciplina': ['Portugues', 'Matematica', 'Geografia', 'História', 'Portugues', 'Matematica', 'Geografia', 'História'],
    'Objetiva': [8.5, 7.5, 9, 10, 8.5, 7.5, 9, 10],
    'Discursiva': [6, 6.5, 7.5, 7, 8.5, 7.5, 9, 10]}
df = pd.DataFrame(table)
df

In [ ]:
# Pivote o dataframe df_provas colocando a coluna Aluno como índice, 
# os valores da coluna Disciplina como colunas, e os valores da coluna Objetiva
# como conteúdo do novo dataframe
df_pivoted = df.pivot(index='Aluno', columns='Disciplina', values=['Objetiva', 'Discursiva'])
df_pivoted