# Aula 5 - Exercícios - Python e Pandas

### Onde buscar informações sobre as funções do Pandas
[https://pandas.pydata.org/docs/](https://pandas.pydata.org/docs/)

In [ ]:
# Importe as bibliotecas pandas e numpy
import pandas as pd
import numpy as np

### 5.1 Escreva uma função para retornar os itens de uma determinada série que não estejam presentes em outra série 
#### Exemplo: Considere uma Serie A com os valores [1, 2, 3, 4, 5, 6, 7, 8], e
####          uma Serie B com os valores [2, 4, 6, 8, 10, 12]
#### Resultado Esperado: Uma Serie com os valores [1, 3, 5, 7]

#### Dica 1: a função Series.isin() retorna uma Serie de valores booleanos representando a intersecção da de duas series
#### Dica 2: o operador ~ serve para inverter os valores booleanos de uma Serie.
#### Exemplo: 
```~pd.Series([True, False]) 
 0    False
 1    True
dtype: bool```

In [ ]:
def complemento(s1, s2):
    """retorne os valores do complemento de s1 em relação a s2
    """
    ### BEGIN SOLUTION
    return s1[~s1.isin(s2)]
    ### END SOLUTION

In [ ]:
## Faça seus testes aqui
s1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8]) 
s2 = pd.Series([2, 4, 6, 8, 10, 12]) 
complemento(s1,s2) 
# Resultado esperado: 
# 0    1
# 2    3
# 4    5
# 6    7
# dtype: int64

In [ ]:
# Validação
s1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8]) 
s2 = pd.Series([2, 4, 6, 8, 10, 12]) 
c12 = pd.Series([1, 3, 5, 7]) 
c21 = pd.Series([10, 12]) 
entradas = [[s1, s2], [s2, s1]]
saidas = [c12, c21]
validate(complemento, entradas, lambda x: x.reset_index()[0], saidas, "5.1", False)

### 5.2 Escreva uma função para obter os itens que não são comuns em duas séries. Ou seja, estão na uniao mas não na intersecção.
#### Exemplo: Considere uma Serie A com os valores [1, 2, 3, 4, 5, 6, 7, 8], e
####          uma Serie B com os valores [2, 4, 6, 8, 10, 12]
#### Resultado Esperado: Uma Serie com os valores [1, 3, 5, 7,10,12]
#### Dica 1: Pense na teoria de conjuntos. Como você faria isso no papel usando um diagrama de Venn.
#### Dica 2: Use a função criada no exercicio 3.1
#### Dica 3: Use a função ```np.union1d``` para calcular a união de duas Series.
####  Exemplo: o código ```pd.Series(np.union1d(t1, t2))``` cria uma Serie resultante da união de t1 e t2

In [ ]:
def complemento2(s1, s2):
    """retorne os valores que não são comuns em duas séries
    """
    ### BEGIN SOLUTION
    return pd.Series(np.union1d(complemento(s1, s2), complemento(s2, s1)))
    ### END SOLUTION

In [ ]:
## Faça seus testes aqui
s1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8]) 
s2 = pd.Series([2, 4, 6, 8, 10, 12]) 
complemento2(s1, s2) 
# Resultado esperado: 
# 0     1
# 1     3
# 2     5
# 3     7
# 4    10
# 5    12
# dtype: int64

In [ ]:
# Validação
s1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8]) 
s2 = pd.Series([2, 4, 6, 8, 10, 12]) 
c = pd.Series([1, 3, 5, 7, 10, 12]) 
entradas = [[s1, s2]]
saidas = [True]
validate(complemento2, entradas, lambda x: x.reset_index()[0].equals(c), saidas, "5.2", False)

### 5.3 Escreva uma função para selecionar as linhas de um dataframe onde o valor na coluna especificada seja ausente (NA)

In [ ]:
def seleciona_null(df, col):
    """retorne as linhas cujo valor na coluna col seja ausente (NA)
    """
    ### BEGIN SOLUTION
    return df[df[col].isnull()]
    ### END SOLUTION

In [ ]:
## Faça seus testes aqui
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
seleciona_null(df, 'score')
# Resultado esperado:
#     name  score  attempts qualify
# d  James    NaN         3      no
# h  Laura    NaN         1      no

In [ ]:
# Validação
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
entradas = [[df, 'score']]
saidas = [True]
validate(seleciona_null, entradas, lambda x: x.equals(df.loc[['d', 'h']]), saidas, "5.3", False)

### 5.4 Escreva uma função para mudar o conteúdo de uma coluna de um dataframe, especificando como parâmetros de entrada o nome da coluna, o valor original e o novo valor.
#### Exemplo:
|    | name      |   score | qualify   |
|:---|:----------|--------:|:----------|
| a  | Jose |    12.5 | yes       |
| b  | Maria      |     9   | no        |
| c  | Joao |    16.5 | yes       |
| d  | Pedro     |   nan   | no        |

#### Resultado Esperado:
|    | name      |   score | qualify   |
|:---|:----------|--------:|:----------|
| a  | Jose |    12.5 | yes       |
| b  | Maria      |     9   | no        |
| c  | Joao |    16.5 | yes       |
| d  | Rafael    |   nan   | no        |

#### Dica: Use a função ```Series.replace```. Esta função tem um parâmetro ```inplace``` para modificar o próprio objeto.

In [ ]:
def change_value(df, col, orig, new):
    """altere a coluna col do dataframe df substituindo orig por new
    """
    ### BEGIN SOLUTION
    df[col].replace(orig, new, inplace=True)
    return df
    ### END SOLUTION

In [ ]:
## Faça seus testes aqui
exam_data  = {'name': ['Jose', 'Maria', 'Joao', 'Pedro', 'Emilia',
                       'Marcos', 'Mateus', 'Laura', 'Carlos', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
exam_data2 = {'name': ['Jose', 'Maria', 'Joao', 'Rafael', 'Emilia',
                       'Marcos', 'Mateus', 'Laura', 'Carlos', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data, index=labels) 
change_value(df, 'name', 'Pedro', 'Rafael')
# Resultado esperado:
#      name  score qualify
# a    Jose   12.5     yes
# b   Maria    9.0      no
# c    Joao   16.5     yes
# d  Rafael    NaN      no
# e  Emilia    9.0      no
# f  Marcos   20.0     yes
# g  Mateus   14.5     yes
# h   Laura    NaN      no
# i  Carlos    8.0      no
# j   Jonas   19.0     yes

In [ ]:
# Validação
exam_data  = {'name': ['Jose', 'Maria', 'Joao', 'Pedro', 'Emilia',
                       'Marcos', 'Mateus', 'Laura', 'Carlos', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
exam_data2 = {'name': ['Jose', 'Maria', 'Joao', 'Rafael', 'Emilia',
                       'Marcos', 'Mateus', 'Laura', 'Carlos', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data, index=labels) 
df2 = pd.DataFrame(exam_data2, index=labels) 

entradas = [[df, 'name', 'Pedro', 'Rafael']]
saidas = [True]
validate(change_value, entradas, lambda x: x.equals(df2), saidas, "5.4", False)